@model AspnetuserViewModel;
@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Create Account";
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <script>
        $('#createAccountForm').submit(function (event) {
            event.preventDefault();
            var password = $('#passwordCreateAcc').val();
            var confPassword = $('#confPasswordCreateAcc').val();
            console.log(password);
            console.log(confPassword);
            if (password != confPassword) {
                $('#confPassValidation').text("Password and Confirm Password do no match");
                return;
            }
            else {
                $('#confPassValidation').text("");
            }
            var formData = $(this).serialize();
            console.log(formData);
            $.ajax({
                url: '/Login/CreateAccount',
                type: 'POST',
                data: formData,
                success: function (response) {
                    
                },
                error: function (xhr, status, error) {

                    console.error('Error submitting form:', error);
                }
            });
        });
    </script>

}

<partial name="_Notification" />
<div class="container-fluid" style="min-width: 100%;">

    <div class="row g-3">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 backImgContainer">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center formDiv">
            <div class="container-fluid text-center ">
                <div class="row">
                    <div class="col-1 offset-11 mt-2">
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button class="btn btn-light ms-auto" type="button" id="darkBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon text-info" viewBox="0 0 16 16">
                                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row logo">
                    <div class="col  d-flex justify-content-center my-5">
                        <a asp-action="Index" asp-controller="Home">
                            <img src="~/images/hallodoc.png"
                                 class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center my-3">
                        <h3 class="h3 fw-medium text-opacity-75 text-center">Create Account</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 text-center loginForm">
                        <form id="createAccountForm" class="">
                            <div class="input-group mb-4 mt-2" style="max-width: 100%">
                                <div class="form-floating w-100">
                                    <input type="email"  class="form-control" id="email" name="email" placeholder="Email" value="@ViewBag.Email" readonly>
                                    <label class="text-info">Email</label>
                                    <span class="text-danger"></span>
                                    <button class="btn input-image text-muted" disabled>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"
                                             style="border-left: none; ">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                        </svg>
                                    </button>
                                </div>

                            </div>
                            <div class="input-group mb-4">
                                <div class="form-floating w-100">
                                    <input type="password" class="form-control" id="passwordCreateAcc" name="passwordCreateAcc" placeholder="Password">
                                    <label class="text-info">Password</label>
                                    <span class="text-danger"></span>
                                </div>
                                <button class="btn input-image text-muted" type="button" onclick="showpass()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-eye " viewBox="0 0 16 16"
                                         style="border-left: none; ">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                    </svg>
                                </button>

                            </div>
                            <div class="input-group mb-4">
                                <div class="form-floating w-100">
                                    <input type="password" class="form-control" id="confPasswordCreateAcc" placeholder="Confirm Password">
                                    <label class="text-info">Confirm Password</label>
                                    <span class="text-danger" id="confPassValidation"></span>
                                </div>
                                <button class="btn input-image text-muted" type="button" onclick="showpass()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-eye " viewBox="0 0 16 16"
                                         style="border-left: none; ">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                    </svg>
                                </button>

                            </div>
                            <input type="hidden" id="requestId" name="requestId" value="@ViewBag.Requestid" />
                            <button type="submit" class="btn btn-info text-white my-2 w-100 fw-medium">Sign Up</button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-8 col-lg-6 d-flex">
                        <footer class="footer footerLogin mt-3 text-center">
                            <a href="#" class="text-muted text-decoration-none fs-6">
                                Terms and
                                Conditions
                            </a><span class="text-muted mx-3">|</span><a href="#"
                                                                         class="text-muted text-decoration-none fs-6">Privacy Policy</a>
                        </footer>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
