@model OtherRequestViewModel
@{
    ViewData["Title"] = "Concierge Reqeust";
}
<partial name="_Notification" />
<partial name="_ValidationScriptsPartial" />

<div class="container-fluid" style="min-height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 justify-content-end">
            <a asp-action="SubmitReq" asp-controller="Home"
               class="float-end my-4 btn btn-outline-info backBtn">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16" height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>Back
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 rounded mb-3" style="box-shadow: 2px 2px 20px rgb(179, 177, 177);">
            <form asp-action="ConciergeRequest" enctype="multipart/form-data">
            <div class="container-fluid mt-3 p-0">
                <div class="row">
                    <div class="col-12">
                        <h6 class="h6 py-3">Concierge Information</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="OtherFirstname" type="text" class="form-control" id="concfname" placeholder="Your First Name" >
                            <label asp-for="OtherFirstname" for="concfname" class="text-muted floating-label">Your First Name</label>
                            <span asp-validation-for="OtherFirstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="OtherLastname" class="form-control" id="conclname" placeholder="Your Last Name" >
                                <label for="conclname" asp-for="OtherLastname" class="text-muted floating-label">Your Last Name</label>
                                <span asp-validation-for="OtherLastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                            <input type="tel" asp-for="OtherPhone" id="conc_phone" class="input w-100 h-100 phone" data-error-msg-id="errorMsg1">
                            <span asp-validation-for="OtherPhone" class="text-danger" id="errorMsg1"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="email" asp-for="OtherEmail" class="form-control" id="concEmail"
                                   placeholder="name@example.com" >
                                <label for="concEmail" asp-for="OtherEmail" class="text-muted floating-label">Your Email</label>
                                <span asp-validation-for="OtherEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="HotelName" class="form-control" id="hotel" placeholder="Hotel/Property Name" >
                                <label for="hotel" asp-for="HotelName" class="text-muted floating-label">Hotel/Property Name</label>
                                <span asp-validation-for="HotelName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="h6 py-3">Concierge Location</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="Street" class="form-control" id="concstreet" placeholder="Street" >
                                <label for="concstreet" asp-for="Street" class="text-muted floating-label">Street</label>
                                <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="City" class="form-control" id="conccity" placeholder="City" >
                                <label for="conccity" asp-for="City" class="text-muted floating-label">City</label>
                                <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="State" class="form-control" id="concstate" placeholder="State" >
                                <label for="concstate" asp-for="State" class="text-muted floating-label">State</label>
                                <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="number" asp-for="Zip" class="form-control" id="conczip" placeholder="Zip Code" >
                                <label for="conczip" asp-for="Zip" class="text-muted floating-label">Zip Code</label>
                                <span asp-validation-for="Zip" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h6 class="h6 py-3">Patient Information</h6>
                    <div class="form-floating mb-3">
                            <textarea class="form-control" asp-for="Symptoms" placeholder="Symptoms" id="symptoms"
                                  style="height: 15vh;"></textarea>
                            <label for="symptoms" asp-for="Symptoms" class="text-muted floating-label ms-2">
                                <span asp-validation-for="Symptoms" class="text-danger"></span>
                            Enter Brief Details of Symptoms
                            (Optional)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="Firstname" class="form-control" id="fname" placeholder="First Name" >
                                <label for="fname" asp-for="Firstname" class="text-muted floating-label">First Name</label>
                                <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="Lastname" class="form-control" id="lname" placeholder="Last Name" >
                                <label for="lname" asp-for="Lastname" class="text-muted floating-label">Last Name</label>
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="date" asp-for="DOB" class="form-control" id="dob" placeholder="Date of Birth" >
                                <label for="dob" asp-for="DOB" class="text-muted floating-label">Date of Birth</label>
                                <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                        <h6 class="h6 py-3">Patient Contact Information</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="email" asp-for="Email" class="form-control" id="patientEmail"
                                   placeholder="name@example.com" >
                                <label for="patientEmail" asp-for="Email" class="text-muted floating-label">Email address</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6 col-12">
                            <input type="tel" asp-for="Phone" id="patient_phone" class="input w-100 h-100 phone" data-error-msg-id="errorMsg2">
                            <span asp-validation-for="Phone" class="text-danger" id="errorMsg2"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="h6 py-3">Patient Location</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input type="number" asp-for="RoomNum" class="form-control" id="roomNum"
                                   placeholder="Room #/ Suite (Optional)">
                                <label for="roomNum" asp-for="RoomNum" class="text-muted floating-label">Room #/ Suite (Optional)</label>
                                <span asp-validation-for="RoomNum" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-end">
                        <button class="btn btn-info me-md-2 text-white fw-medium" type="submit">Submit</button>
                        <button class="btn btn-outline-info fw-medium link-info" type="reset">Cancel</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>