@model PatientRequestViewModel
@{
    ViewData["Title"] = "Patient Reqeust";
}


<partial name="_Notification" />
<partial name="_ValidationScriptsPartial" />

<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 justify-content-end">
        <a asp-action="SubmitReq" asp-controller="Home"
           class="float-end my-4 btn btn-outline-info backBtn">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            </svg>Back
        </a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 rounded mb-3" style="box-shadow: 2px 2px 20px rgb(179, 177, 177);">
        <form asp-action="PatientRequest" enctype="multipart/form-data">
            <div class="container-fluid mt-3 p-0">
            <div class="row">
                <h6 class="h6 py-3">Patient Information</h6>
                <div class="form-floating mb-3">
                    <textarea class="form-control" asp-for="Symptoms" placeholder="Symptoms" id="symptoms"
                              style="height: 15vh;"></textarea>
                    <label asp-for="Symptoms" class="text-muted floating-label ms-2">
                        Enter Brief Details of Symptoms
                        (Optional)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Firstname" class="form-control" id="fname" placeholder="First Name">
                        <label asp-for="Firstname" class="text-muted floating-label">First Name</label>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Lastname" class="form-control" id="lname" placeholder="Last Name">
                        <label asp-for="Lastname" class="text-muted floating-label">Last Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="DOB" class="form-control" id="dob" placeholder="Date of Birth" >
                        <label asp-for="DOB" class="text-muted floating-label">Date of Birth</label>
                    </div>
                    <h6 class="h6 py-3">Patient Contact Information</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="Email" class="form-control" id="patientEmail"
                               placeholder="name@example.com" required>
                        <label asp-for="Email" class="text-muted floating-label">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <input type="tel" asp-for="Phone" id="phone" class="input w-100 h-100 phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
                <div class="row" id="passwordMainDiv" style="display:none">
                <div   class="col-md-12">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="h6 py-3">Password Details</h6>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6" id="passwordDiv">
                    
                            <div class="form-floating mb-3 ">
                                <input type="password" asp-for="Password" class="form-control" id="password">
                                <label asp-for="Password" class="text-muted floating-label">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6" id="confirmPasswordDiv">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="ConfirmPassword" class="form-control" id="confirmpassword" >
                                <label asp-for="ConfirmPassword" class="text-muted floating-label">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-12">
                    <h6 class="h6 py-3">Patient Location</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Street" class="form-control" id="street" placeholder="Street" >
                        <label asp-for="Street" class="text-muted floating-label">Street</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="City" class="form-control" id="city" placeholder="City" >
                        <label asp-for="City" class="text-muted floating-label">City</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="State" class="form-control" id="state" placeholder="State" >
                        <label asp-for="State" class="text-muted floating-label">State</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Zip" class="form-control" id="zip" placeholder="Zip Code" >
                        <label asp-for="Zip" class="text-muted floating-label">Zip Code</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" asp-for="RoomNum" class="form-control" id="roomNum"
                               placeholder="Room #/ Suite (Optional)">
                        <label asp-for="RoomNum" class="text-muted floating-label">Room #/ Suite (Optional)</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6 class="h6 py-3" >(Optional) Upload Photo or Document</h6>
                </div>
                <div class="d-flex">
                        <label for="fileUpload"  class="col d-flex">
                            <div class="col bg-white p-1 ps-3 text-muted border"><span id="infoArea">Select File</span></div>
                        <div id="btn" class="p-1 btn btn-info">

                            <i class="bi bi-cloud-arrow-up text-white"></i>
                                <span style="color:white;" asp-for="File" class="ps-1">Upload</span>

                        </div>
                        <input type="file" asp-for="File" class="form-control-file" id="fileUpload" multiple="multiple" hidden>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-end">
                    <button class="btn btn-info me-md-2 text-white fw-medium" type="submit">Submit</button>
                    <button class="btn btn-outline-info fw-medium link-info" type="reset">Cancel</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#patientEmail').on('blur', function () {
                var email = $(this).val();
                $.ajax({
                    url: '/Requests/CheckEmail',
                    type: 'POST',
                    data: { email: email },
                    success: function (data) {
                        if (!data) {
                            $('#passwordMainDiv').show();

                        }
                        else {
                            $('#passwordMainDiv').hide();
                            $('#fname').val(data.firstname).prop('disabled',true);
                            $('#lname').val(data.lastname).prop('readonly', true);
                            $('#phone').val(data.mobile).prop('readonly', true);
                            $('#street').val(data.street).prop('readonly', true);
                            $('#city').val(data.city).prop('readonly', true);
                            $('#state').val(data.state).prop('readonly', true);
                            $('#zip').val(data.zipcode).prop('readonly', true);
                            
                        }
                    }
                });
            });
        });
    </script>
}