<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 d-inline-flex justify-content-between">
        <h4 class="h4 mt-5">Account Access</h4>
    </div>
</div>
<div class="row rounded justify-content-center">
    <div class="col-10 rounded shadow">
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-info d-none d-sm-inline my-4" >
                Create Access
            </button>
            <button class="btn btn-outline-info d-none d-sm-inline my-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg text-info" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                </svg>
            </button>
        </div>
        <div id="partialAccountAccess"></div>
    </div>
</div>