@{
    ViewData["Title"] = "My Profile";
}

    <script>
        // $(document).ready(function () {
            $('#btnSubmitRow1').hide();
            $('#btnSubmitRow2').hide();

            $.ajax({
            url: '/Admin/GetAdminProfile',
                type: 'POST',
                success: function (response) {
                    console.log(response);
                    $('#adminUsername').val(response.username).prop('readonly', true);
                    // $('#password').val('').prop('readonly', true);
                    //$('#status').val('').prop('readonly', true);
                    //$('#role').val('').prop('readonly', true);
                    $('#firstname').val(response.firstname).prop('readonly', true);
                    $('#lastname').val(response.lastname).prop('readonly', true);
                    $('#email').val(response.email).prop('readonly', true);
                    $('#confEmail').val(response.email).prop('readonly', true);
                    $('#phoneAdministrator').val(response.phonenumber).prop('readonly', true);
                    $('#address1').val(response.address1).prop('readonly', true);
                    $('#address2').val(response.address2).prop('readonly', true);
                    $('#city').val(response.city).prop('readonly', true);
                    $('#state').val(response.state).prop('readonly', true);
                    $('#zip').val(response.zip).prop('readonly', true);
                    $('#phoneBilling').val(response.billingPhones).prop('readonly', true);
            },
                error: function (xhr, status, error) {

                    console.error('Error submitting form:', error);
                }
            });
           
            $('#btnEdit1').on('click', function () {
                $(this).closest('#btnEditRow1').hide();
                $('#btnSubmitRow1').show();
                // $('#fname').prop('disabled', false);
               

            });

            $('#cancelBtn1').on('click', function () {
                $('#btnSubmitRow1').hide();
                $('#btnEditRow1').show();
                // $('#fname').val('').prop('disabled', true);

            });

            $('#btnEdit2').on('click', function () {
                $(this).closest('#btnEditRow2').hide();
                $('#btnSubmitRow2').show();
                // $('#fname').prop('disabled', false);


            });

            $('#cancelBtn2').on('click', function () {
                $('#btnSubmitRow2').hide();
                $('#btnEditRow2').show();
                // $('#fname').val('').prop('disabled', true);

            });
        // });
    </script>

<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6  d-inline-flex justify-content-between">
        <div class="d-flex">
            <h4 class="h4 mt-5 mb-3">My Profile</h4>
        </div>
        <div class="d-flex">
            <button class="btn btn-outline-info mt-5 mb-3 ms-auto backBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>Back
            </button>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 rounded mb-3 shadow">
        <div class="container-fluid">
            <div class="row">
                <h6 class="h6 py-3">Account Information</h6>
            </div>
            <form asp-action="ResetAdminPassword" asp-controller="Admin" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="adminUsername" placeholder="Username">
                            <label class="text-muted floating-label">Username</label>
                            @* <span asp-validation-for="Firstname" class="text-danger"></span> *@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="adminPassword" id="adminPassword" placeholder="Password">
                            <label class="text-muted floating-label">Password</label>
                            @* <span asp-validation-for="Firstname" class="text-danger"></span> *@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select class="form-select border text-muted mb-2" name="status" id="status" aria-label="Default select example" >
                                <option selected value="">--</option>
                            </select>
                            <label for="status" class="text-muted">Status</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select class="form-select border text-muted mb-2" name="role" id="role" aria-label="Default select example" >
                                <option selected value="">--</option>
                            </select>
                            <label for="role" class="text-muted">Role</label>
                        </div>

                    </div>
                    </div>
                    <div class="row p-0">
                        <div class="d-grid gap-2 my-4 d-md-flex justify-content-md-end p-0">
                            <button class="btn btn-outline-info text-info fw-medium my-2" type="submit" id="">Reset Password</button>
                        </div>
                    </div>
            </form>
                    @* account info closed *@
                </div>
            <div class="row">
                <div class="col-12">
                    <h6 class="h6 py-3">Administrator Information</h6>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="firstname" placeholder="Firstname" >
                            <label class="text-muted floating-label">Firstname</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="lastname" placeholder="Lastname" >
                            <label class="text-muted floating-label">Lastname</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Email" >
                            <label class="text-muted floating-label">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="confEmail" placeholder="Confirm Email" >
                            <label class="text-muted floating-label">Confirm Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="tel" id="phoneAdministrator" class="input w-100 h-100 phone mb-3" data-error-msg-id="errorMsg1" >
                        @* <span asp-validation-for="Phone" class="text-danger" id="errorMsg1"></span> *@
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="dc" value="1">
                            <label class="form-check-label" for="dc">District Of Columbia</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ny" value="2">
                            <label class="form-check-label" for="ny">New York</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="vr" value="3">
                            <label class="form-check-label" for="vr">Virginia</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ml" value="4">
                            <label class="form-check-label" for="ml">Maryland</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="btnEditRow1">
                    <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-end">
                        <button class="btn btn-info me-md-2 text-white fw-medium my-2" type="button" id="btnEdit1">Edit</button>
                    </div>
                </div>
                <div class="row" id="btnSubmitRow1">
                    <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-end">
                        <button class="btn btn-info me-md-2 text-white fw-medium" type="submit">Submit</button>
                        <button class="btn btn-outline-info fw-medium link-info" type="button" id="cancelBtn1">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <h6 class="h6 py-3">Mailing & Billing Information</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address1" placeholder="Address1" >
                        <label class="text-muted floating-label">Address1</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address2" placeholder="Address2" >
                        <label class="text-muted floating-label">Address2</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="city" placeholder="City" >
                        <label class="text-muted floating-label">City</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select border text-muted mb-2" name="state" id="state" aria-label="Default select example" >
                            <option selected value="">--</option>
                        </select>
                        <label for="reasons" class="text-muted">State</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="zip" placeholder="Zip" >
                        <label class="text-muted floating-label">Zip</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="tel" id="phoneBilling" class="input w-100 h-100 phone mb-3" data-error-msg-id="errorMsg1" >
                    @* <span asp-validation-for="Phone" class="text-danger" id="errorMsg1"></span> *@
                </div>
            </div>
            <div class="row" id="btnEditRow2">
                <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-end">
                    <button class="btn btn-info me-md-2 text-white fw-medium my-2" type="button" id="btnEdit2">Edit</button>
                </div>
            </div>
            <div class="row" id="btnSubmitRow2">
                <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-end">
                    <button class="btn btn-info me-md-2 text-white fw-medium" type="submit">Submit</button>
                    <button class="btn btn-outline-info fw-medium link-info" type="button" id="cancelBtn2">Cancel</button>
                </div>
            </div>
          </div>
    </div>
</div>

