<script>
    $(document).ready(function () {
        populateRegionDropdown();
        
        function ProviderMenuTableLoad() {
            var regionid = $('#regionSelect').val();
            console.log(regionid);
            $.ajax({
                url: '/Admin/ProviderMenuTablePartial',
                type: 'POST',
                data: { regionid: regionid },
                success: function (response) {
                    $('#partialProviderMenu').html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        ProviderMenuTableLoad();
        $('#regionSelect').on('change',function(){
            ProviderMenuTableLoad();
        })
    });
</script>


<div class="row justify-content-center">
    <div class="col-10 d-inline-flex justify-content-between">
        <h4 class="h4 mt-5">Provider Information</h4>
    </div>
</div>
<div class="row rounded justify-content-center">
    <div class="col-10 rounded shadow">
        <div class="d-flex justify-content-between">
            <div class="">
                <div class="d-flex border rounded align-items-center mx-sm-3 my-4 dropdownRegion col px-0 bg-white text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 50 50" class="mx-2 ">
                        <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                        </path>
                    </svg>
                    <select class="form-select border-0 regions" aria-label="Default select example" id="regionSelect">
                    </select>
                </div>
            </div>
            <div class="">
                <button class="btn btn-info d-none text-white d-sm-inline my-4" onclick="createProviderPartialLoad()">
                    Create Provider Account
                </button>
                <button class="btn btn-info d-inline text-white d-sm-none my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                    </svg>
                </button>
            </div>
        </div>
       <div id="partialProviderMenu"></div>
    </div>
</div>