*{
    font-family: poppins;
}
.phone:read-only, .phone:disabled {
    background-color: #E9ECEF !important;
}
.dark-theme {
    background-color: #212529;
    color: #ffffff !important;
}
    .dark-theme table, .dark-theme .dropdownRegion , .dark-theme .input-group{
        background-color: #212529;
        color: #ffffff !important;
    }
    .dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme .nav-tabs .nav-link.active, .dark-theme .nav-tabs .nav-link {
        background-color: #212529 !important;
        color: #ffffff !important;
    }
    .dark-theme .filter-options {

        color: #ffffff !important;
    }
    .dark-theme .phone{
        background-color: #ffffff !important;
    }
.dotted-rule {
    border: none; /* Remove default border */
    border-top: 1px dotted #000; /* Add dotted border on top */
}

.btn-outline-info:hover {
    color: white;
    background-color: #31D2F2;
}
/*admin dashboard states*/
.accordianDash {
    display: none;
}

#newState {
    background-color: #E9EAEF;
    border: 1px solid #203f9a;
    color: #203f9a;
}
#newState:hover , #newState.active{
    background-color: #203f9a;
    border: 1px solid #203f9a;
    color:white;
}


#pendingState {
    background-color: #e5f2f8;
    color: #31D2F2;
    border: 1px solid #31D2F2;
}
    #pendingState:hover , #pendingState.active{
        background-color: #31D2F2;
        border: 1px solid #31D2F2;
        color: white;
    }


#activeState {
    background-color: #e9f0e8;
    border: 1px solid #669D5D;
    color: #669D5D;
}
    #activeState:hover , #activeState.active{
        background-color: #669D5D;
        border: 1px solid #669D5D;
        color: white;
    }


#concludeState {
    background-color: #f7e6ee;
    color: #cf30a4;
    border: 1px solid #cf30a4;
}
    #concludeState:hover , #concludeState.active{
        background-color: #cf30a4;
        color: white;
        border: 1px solid #cf30a4;
    }

#toCloseState {
    color: #2C6498;
    background-color: #E5EEF5;
    border: 1px solid #2C6498;
}
    #toCloseState:hover , #toCloseState.active{
        color: white;
        background-color: #2C6498;
        border: 1px solid #2C6498;
    }

#unpaidState {
    background-color: #EFEEF4;
    color: #8970A9;
    border: 1px solid #8970A9;
}
    #unpaidState:hover , #unpaidState.active{
        background-color: #8970A9;
        color:white;
        border: 1px solid #8970A9;
    }


.backLink {
    display: none;
}

.logo {
    display: block;
}

.backImgContainer {
    height: 100vh;
    background-image: url(/images/11116016_415.jpg);
    background-size: 100% 100%;
}

.input-image{
    position:absolute !important;
    display: block;
    right: 10px;
    top: 10px;
    border-radius: 5px;
}

.footerLogin {
    position: fixed;
    bottom: 1%;
    /* left: 65%;
    text-align: center; */
}

.navLogo {
    margin-bottom: 0;
    width: 40%;
}

.navBar {
    box-shadow: 2px 2px 20px rgb(179, 177, 177);
}

.patientBtn {
    color: #4367d3 !important;
    background-color: #e8eaf1;
    border-color: #4367d3;
}

    .patientBtn:hover {
        background-color: #ffffff;

    }

.famBtn {
    background-color: #d5f5f5;
}

.famBtn:hover {
    background-color: white !important;
    color: #40c7e9 !important;
}

.busBtn {
    color: #d90f81 !important;
    background-color: #F7E5EE;
    border-color: #d90f81;
}

    .busBtn:hover {
      
        background-color: #ffffff;
     
    }

.concBtn {
    background-color: #c3debf;
}

.concBtn:hover {
    background-color: white !important;
    color: #298014 !important;
}

.backBtn:hover {
    color: white !important;
    background-color: #40c7e9 !important;
}

.regPatientBtn {
    background-color: rgb(7, 7, 112);
}

.darkBtn:hover {
    color: white !important;
}
/* label{
    color: #40c7e9;
  } */
textarea:focus {
    outline: none !important;
    border-color: #40c7e9 !important;
    box-shadow: none !important;
    /* color: #40c7e9 ; */
}

input:focus {
    outline: none !important;
    border-color: #40c7e9 !important;
    box-shadow: none !important;
    /* color: #40c7e9 ; */
}

.form-control:focus + .floating-label {
    color: #40c7e9 !important;
}

.footerReq {
    position: relative;
    bottom: 1%;
}

.footerSubmit {
    position: relative;
    bottom: 1%;
}

.footerSite1 {
    position: relative;
    bottom: 10%;
    /* left: 40%; */
    /* width: fit-content; */
}

.footerSite2 {
    display: none;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dad7d7;
}

    .input::placeholder {
        color: #BBB;
    }

.intl-tel-input {
    width: 100% !important;
}

    .intl-tel-input .selected-flag {
        z-index: 4;
    }

    .intl-tel-input .country-list {
        z-index: 5;
        color: black !important;
    }

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.iti {
    width: 100% !important;
    height: 75%;
}


@media (max-width: 768px) {
    .backImgContainer {
        position: relative;
        height: 100vh;
        width: 100vw;
        filter: blur(10px);
        z-index: -1;
    }

    .footerLogin {
        left: 10%;
    }

    .formDiv {
        position: fixed;
        top: 15vh;
        left: 0;
    }

    .backLink {
        display: flex;
        position: relative;
        left: 5%;
    }

    .logo {
        display: none;
    }

    .footerSubmit {
        font-size: .5rem;
    }

    .footerReq {
        font-size: .5rem;
    }

    .backToLogin {
        display: none;
    }

    body {
        font-size: smaller;
    }

    .tableDash {
        display: none;
    }

    .accordianDash {
        display: block;
    }
}
@media (max-width: 576px){
    body{
        font-size:small;

    }
 
 
}



@media (max-width: 471px) {
/*    .darkBtn {
        position: absolute;
        top: 25%;
        right: 5%;
    }*/
    body{
        font-size: smaller;
    }

    .footerSubmit {
        font-size: smaller;
    }

    .busBtn, .concBtn, .famBtn, .patientBtn {
        font-size: smaller;
    }

    .footerSite1 {
        display: none;
    }

    .footerSite2 {
        display: block;
        position: relative;
        bottom: 10%;
    }
    .filter-options {
        font-size: small;
        padding:0;
    }
    .patientHead{
        font-size:smaller;
    }
    .svgs {
        height: 10px !important;
        width: 10px !important;
    }
    .filters{
        padding:0;
    }
}
.nav-tabs .active {
    border: none;
    color: #10bce9 !important;
    border-bottom: 3px solid #10bce9 !important;
}

/*
.nav-link {
    color: black;
}*/
/* html, body { height: 100%;}

  body > footer {
    position: sticky;
    top: 100vh;
  } */

/* input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover, input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus, textarea:hover, textarea:focus, select:hover, select:focus {
    border-color: aqua;
    box-shadow: none;
  } */
