@model List<MedicalHistoryViewModel>
<div class="container-fluid rounded mx-3 mt-4">
    <h3 class="h3 mb-3">Medical History</h3>
    <div class="rounded" style="width:auto; box-shadow: 2px 2px 20px rgb(179, 177, 177)">
        <div class=" d-flex justify-content-end"><button class="btn btn-outline-info my-3 me-2">Create New Request</button></div>
    <div style="width:auto"><table class="table">
    <tbody>
            <tr class="bg-light">
                <th scope="col">Created Date</th>
                <th scope="col">Current Status</th>
                <th scope="col">Documents</th>
            </tr>
          
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CreatedDate</td>
                    <td>@item.Status</td>   
                    @if (item.DocumentCount > 0)
                    {
                         <td><button class="btn btn-outline-info my-3 me-2">(@item.DocumentCount)Documents</button></td>
                    }
                    else{
                         <td></td>
                    }
                    
                </tr>
            } 
    </tbody>
    </table>
    </div>
    </div>
</div>
