
            <div class="d-flex m-auto justify-content-between documents" style=" ">
                <h2 class=" ">User Profile</h2>
            <button class="btn btn-outline-info my-3 ms-auto" onclick="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>Back
            </button>
            </div>
            <div class="shadow-lg" style="">
                <h5>
                    General Information
                </h5>
                <div>
                    <div class="row">
                        <div class="col-11 mt-4 col-md-6 form-floating ">
                            <input type="text"  class="t  form-control" id="fname" disabled>
                            <label for="fname" class="ms-2">First Name</label>
                        </div>
                        <div class="col-11 mt-4 col-md-6 form-floating ">
                            <input type="text" class="t  form-control" id="lname" disabled>
                            <label for="lname" class="ms-2">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11 mt-4 col-md-6 form-floating ">
                            <input type="date" class="t  form-control" id="Dates" disabled>
                            <label for="Dates" class="ms-2">Last Name</label>
                        </div>
                    </div>
                </div>
                <h5 class="mt-4">
                    Contact Information
                </h5>
                <div class="row">
                    <div class="col-11 mt-4 col-md-2 form-floating ">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" disabled>
                                <option selected>Select</option>
                                <option value="1">Email</option>
                                <option value="2">Mobile</option>

                            </select>
                            <label for="floatingSelect">Works with selects</label>
                        </div>
                    </div>
                    <div class="col-11 mt-4 col-md-4 form-floating ">
                        <input type="text" class="t  form-control" id="lname" disabled>
                        <label for="lname" class="ms-2">Last Name</label>
                    </div>
                    <div class="col-11 mt-4 col-md-6 form-floating ">
                        <input type="date" class="t  form-control" id="Dates" disabled>
                        <label for="Dates" class="ms-2">Last Name</label>
                    </div>
                </div>
                <div class="row mt-4">
                    <h5>Patient Location</h5>
                </div>
                <div class="row ">
                    <div class="col-11 col-md-6 mt-4">
                        <div class="form-floating">
                            <input type="text"  class="t form-control" id="floatingEmail" disabled>
                            <label for="floatingEmail">Street</label>
                        </div>

                    </div>
                    <div class="col-11 col-md-6 mt-4">
                        <div class="form-floating">
                            <input type="text" class="t  form-control" id="floatingCity" disabled>
                            <label for="floatingCity">City</label>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-11 col-md-6 mt-4">
                        <div class="form-floating">
                            <input type="text"  class="t  form-control" id="floatingState" disabled>
                            <label for="floatingState">State</label>
                        </div>
                    </div>
                    <div class="col-11 col-md-4 mt-4">
                        <div class="form-floating">
                            <input type="number" class="t  form-control" id="floatingZip" disabled>
                            <label for="floatingZip">Zip Code</label>
                        </div>
                    </div>
                    <div class="col-2 mt-4 mr-auto">
                        <button class="btn btn-outline-info " onclick='@Url.Action("https://maps.app.goo.gl/ESACrXuWD9ojL2CL9")'>
                            Map
                        </button>
                    </div>

                </div>
            </div>

   


        <script>
            // bind file-input-form click action to text-input-span
            $('#text_input_span_id').click(function () {
                $("#file_input_id").trigger('click');
            })
            // bind file-input-form click action to text-input-form
            $('#text_input_id').click(function () {
                $("#file_input_id").trigger('click');
            })
            // display file name in text-input-form
            $("#file_input_id").change(function () {
                $('#text_input_id').val(this.value.replace(/C:\\fakepath\\/i, ''))
            })
        </script>





